.sidebar{
    color: #fff;
    position: fixed;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar ul {
    list-style: none;
}
.sidebar ul li:not(:last-child){
    height: 8rem;
}

.sidebar img {
    color: #fff;
    width: 1.3rem;
}

.sidebar a{
    position: relative;
}

.sidebar li:not(:last-child) a::after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4.3rem;
    width: .5px;
    left: 50%;
    top: 2.1rem;
}