@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: quincy-cf;
    src: url("./assets/fonts/QuincyCF-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: quincy-cf;
    src: url("./assets/fonts/QuincyCF-Bold.ttf");
    font-weight: 600;
}

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1e1e1e;
    background: linear-gradient(to right, #181818, #1b1b1b),
        url(https://grainy-gradients.vercel.app/noise.svg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: quincy-cf, serif, sans-serif;
    font-size: 1.25rem;
    line-height: 24px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: quincy-cf, serif, sans-serif;
    font-weight: 600;
}

.font-regular {
    font-weight: 400;
    font-size: larger;
}

.list-column {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

@media (max-width: 560px) {
    .list-column {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}